body {
    background-color: rgb(186, 221, 221);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 0;
}

div {
    background-color: cornflowerblue;
}

.top-container {
    background-color: lightseagreen;
    width: 100px;
    height: 100px;
    border: solid;
    padding: 10px;
}

.mid-container {
    background-color: darkorange;
    width: 100px;
    height: 100px;
    border: solid 15px;
}

.bottom-container {
    background-color: crimson;
    width: 100px;
    height: 100px;
}