body {
    background-color: rgb(186, 221, 221);
    margin: 0;
}

h1 {
    margin-top: 0;
}

div {
    background-color: cornflowerblue;
}

.top-container {
    background-color:lightseagreen;
    width: 100px;
    height: 100px;
}

.mid-container {
    background-color: darkorange;
    width: 100px;
    height: 100px;
}

.bottom-container {
    background-color: crimson;
    width: 100px;
    height: 100px;
}